################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KnapsackProblem/.vs/KnapsackProblem/v15
